<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="pen1" class="edu.jspiders.setterinjection.beans.Pen">
	
		<property name="brand" value="Cello"/>
		<property name="name" value="Bright"/>
		<property name="price" value="10"/>
	
	</bean>
	
	<bean id="pen2" class="edu.jspiders.setterinjection.beans.Pen">
	
		<property name="brand" value="Reynolds"/>
		<property name="name" value="TriMax"/>
		<property name="price" value="30"/>
	
	</bean>
	
</beans>